*-debug.log
*-error.log
/.nyc_output
/dist
/tmp
/.wireit
/.sfdx
/.sf

/coverage


# We need to include the oclif.manifest.json file - otherwise the sf plugins:install command doesn't work
# https://salesforce.stackexchange.com/questions/313052/sf-how-can-i-make-my-plugin-available-to-install-via-sf-pluginsinstall-and
# /oclif.manifest.json

node_modules
*.tmp

*.tsbuildinfo
.eslintcache

force-app/**/*
options.json

package-lock.json

ignore/*
deploy/*
.sf/config.json
test/*ignore*.test.ts
test/tmp/**/*
test/**/xml-merge.log
DataDictionary-*.*
~*.*
